body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding:15px;
}
#typeBox{
    width:100%;
    box-sizing: border-box;
    padding:10px;
    height :30px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 0, 0);
    font-size: medium;
}
#btn{
  padding:11px 21px;
  border: none;
  font-size: 13px;
  background-color: rgb(86, 154, 37);
  border-radius: 2px;
  font-weight:bold;
  color:white;
  cursor: pointer;
  margin: 5px;
  }
  #save-tab{
  padding:11px 21px;
  border: none;
  background-color: rgb(86, 154, 37);
  border-radius: 2px;
  font-weight:bold;
  color:white;
  cursor: pointer;
  margin: 5px;
  }
#save-tab:hover{
    background-color: rgb(151, 234, 88);
    color: white;
  }
#btn:hover{
    background-color: rgb(152, 255, 74);
    color: white;
  }
  #buton{
    padding:10px 20px;
  border: 1px,rgb(86, 154, 37) solid ;
  background-color:white;
  border-radius: 2px;
  font-weight:bold;
  color: rgb(100, 172, 49);
  cursor: pointer;
  margin:5px;
  }
  #buton:hover{
    background-color:rgb(65, 145, 3) ;
    color: white;
  }